<div class = "hero-unit">
	<h1>Contact</h1>
	<br>
	<h3 class="center">jeff@jeffernsthausen.com</h3>
	<br>
	<%= image_tag("Midwest2.jpg", :class => "center", :height=>"50%", :width=>"50%", alt: "Midwest") %>
	
</div>