<div class="hero-unit">
		<h1>Experience</h1>

		<ul>
			<li>
				<h2>Work</h2>
				<ul>
					<li><p>Editorial Assistant, <a href="http://www.thenation.com/">The Nation</a>, New York, N.Y. — 2012</p></li>
					<li><p>Editorial Assistant, <a href="http://www.harpers.org/">Harper&#8217;s Magazine</a>, New York, N.Y. — 2012</p></li>
					<li><p>Economic Analyst, <a href="http://www.newyorkfed.org/">Federal Reserve Bank of New York</a>, New York, N.Y. — 2009-11</p></li>
					<li><p>Research Assistant, <a href="http://www.federalreserve.gov/">Federal Reserve Board of Governors</a>, Washington, D.C. — 2008-09</p></li>
					<li><p>Editor-in-Chief, Economics Editor, <a href="http://ppr.pitt.edu/">Pitt Political Review</a>, Pittsburgh — 2005-08</p></li>
					<li><p>U.S. Regional Intern, <a href="http://www.ihs.com/">IHS Global Insight</a>, Philadelphia — 2007</p></li>
					<li><p>Marketing Intern, <a href="http://www.alleghenyconference.org/">Allegheny Conference on Community Development</a>, Pittsburgh — 2007</p></li>
				</ul>
			</li>
		<br>
			<li>
				<h2>Education</h2>
				<ul>
					<li><p>University of Pittsburgh, <a href="http://www.honorscollege.pitt.edu/node/243">B. Phil. in Economics</a>, <a href="http://www.history.pitt.edu/"> B.A. in History</a>, <a href="http://www.geology.pitt.edu/undergraduate/gis-certificate.html"> Certificate in Geographic Information Systems</a>, Pittsburgh, PA. — 2008</p></li>
				</ul>
			</li>
		<br>	
			<li>
				<h2>Awards</h2>
				<ul>
					<li><p>Asher Isaacs Award for Outstanding Senior, University of Pittsburgh, Department of Economics — 2008 </p></li>
					<li><p>Phi Beta Kappa — 2008 </p></li>
					<li><p>Jerome C. Wells Award for Outstanding Econ Major, University of Pittsburgh, Department of Economics — 2007</p></li>
					<li><p><a href="http://www.ucis.pitt.edu/ursymposium/2007/PublicationFinal.pdf">Best Paper in European History</a>, University Center for International Studies Undergraduate Research Symposium — 2007</p></li>
					<li><p>Trustee Scholar, University of Pittsburgh — 2003-08</p></li>
					<li><p><a href="http://www.honorscollege.pitt.edu/node/326">Brackenridge Fellow</a>, University Honors College — 2005</p></li>
				</ul>
			</li>
		</ul>
</div>

