<div class="hero-unit">
		<h1>Experience</h1>

		<h2>Work</h2>
		<p>
			<strong>Editorial Assistant, <a href="http://www.thenation.com/">The 
			Nation</a>, New York, N.Y. — 2012</strong>
		</p>
		<p>
			<strong>Editorial Assistant, <a href="http://www.harpers.org/">Harper&#8217;s Magazine</a>, New York, N.Y. — 
			2012</strong>
		</p>
		<p>
			<strong>Economic Analyst, <a href="http://www.newyorkfed.org/">Federal Reserve Bank of New York</a>, New York, N.Y. —
			 2009-11</strong>
		</p>
		<p>
			<strong>Research Assistant, <a href="http://www.federalreserve.gov/">Federal Reserve Board of Governors</a>,
				 Washington, D.C. — 2008-09</strong>
		</p>
		<p>
			<strong>Editor-in-Chief, Economics Editor, <a href="http://ppr.pitt.edu/">Pitt Political Review</a>, Pittsburgh —
				 2005-08</strong>
		</p>
		<p>
			<strong>U.S. Regional Intern, <a href="http://www.ihs.com/">IHS Global Insight</a>, Philadelphia — 2007</strong>
		</p>
		<p>
			<strong>Marketing Intern, <a href="http://www.alleghenyconference.org/">Allegheny Conference on Community
				 Development</a>, Pittsburgh — 2007</strong>
		</p>
		<p>
			&nbsp;
		</p>

		<h2>Education</h2>
		<p>
			<strong>University of Pittsburgh, <a href="http://www.honorscollege.pitt.edu/node/243">B. Phil. in Economics</a>, <a 
				href="http://www.history.pitt.edu/"> B.A. in History</a>, <a
				 href="http://www.geology.pitt.edu/undergraduate/gis-certificate.html"> Certificate in Geographic Information
				 Systems</a>, Pittsburgh, PA. — 2008</strong>
		</p>
		<p>
			&nbsp;
		</p>
		<h2>Awards</h2>
		<p>
			<strong>Asher Isaacs Award for Outstanding Senior, University of Pittsburgh, Department of Economics — 2008
				 </strong>
		</p>
		<p>
			<strong>Phi Beta Kappa — 2008 </strong>
		</p>
		<p>
			<strong>Jerome C. Wells Award for Outstanding Econ Major, University of Pittsburgh, Department of Economics — 
				2007</strong>
		</p>
		<p>
			<strong><a href="http://www.ucis.pitt.edu/ursymposium/2007/PublicationFinal.pdf">Best Paper in European History</a>,
				 University Center for International Studies Undergraduate Research Symposium — 2007</strong>
		</p>
		<p>
			<strong>Trustee Scholar, University of Pittsburgh — 2003-08</strong>
		</p>
		<p>
			<strong><a href="http://www.honorscollege.pitt.edu/node/326">Brackenridge Fellow</a>, University Honors College —
				 2005</strong>
		</p>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>