
<div class="hero-unit">
	
		<p>
			<%= image_tag("Ernsthausen_Twitter_Pic.jpg", :class => "right", alt: "Jeff") %>
			<br>
			Jeff Ernsthausen is a writer from Toledo, Ohio. He has been an 
			editorial assistant at <i>The Nation Magazine </i>and 
			<i>Harper&#8217;s Magazine.</i> He made the transition back to 
			journalism after three years as an economic and financial analyst 
			at the Federal Reserve.				
		</p>

</div>

