
<div class="hero-unit">
		<h1>About</h1>
		<p>
			Jeff Ernsthausen is a writer from Toledo, Ohio. He has been an 
			editorial assistant at <i>The Nation Magazine </i>and 
			<i>Harper&#8217;s Magazine.</i> He made the transition to 
			journalism after three years as an economic and financial analyst 
			at the Federal Reserve. The next challenge: forging a career out of 
			this disparate background.
		</p>

		<p>
			This site is going to be regularly under
			 construction/experimentation.
		</p>
</div>

