<div class="hero-unit">
		<h1>Past Publications</h1>
		<p><a href="http://www.thenation.com/article/171403/noted">Noted: The Fifty-First State?</a>, The Nation Magazine, December 2012 (requires login)</p>
<%= link_to image_tag("Nation1210.jpg", :width => "154.5", :height => "200", alt: "Harpers"), 'http://www.thenation.com/article/171403/noted' %>
<p><a href="http://www.thenation.com/article/170492/noted">Noted: Free the Ad Files!</a>, The Nation Magazine, October 2012 (requires login)</p>
<%= link_to image_tag("Nation1029.jpg", :width => "154.5", :height => "200", alt: "Harpers"), 'http://www.thenation.com/article/170492/noted' %>
<p><a href="http://harpers.org/blog/2012/08/pyramid-insurance/">Pyramid Insurance: Why are multilevel-marketing companies making big donations to state attorney-general candidates?</a>, Harpers.org, August 2012</p>
<%= link_to image_tag("HarpersMagazine-2012-08.jpg", :width => "154.5", :height => "200", alt: "Harpers"), 'http://harpers.org/blog/2012/08/pyramid-insurance/' %>

<p><a href="http://harpers.org/blog/2012/08/weeklyreview2012-08-27/">Weekly Review</a>, Harpers.org, August 2012</p>
<p><a href="http://harpers.org/blog/2012/08/weeklyreview2012-08-27/"><img title="August 2012" alt="" src="http://harpers.org/wp-content/uploads/astonisheddispproval350.gif" width="154.5" height="200" /></a></p>
<p><a href="http://www.jeffernsthausen.com/wp-content/uploads/2012/03/PPR_Bub_2008.pdf">Bubbling Over: the Trade Deficit, the Falling Dollar and the Housing Bubble</a>, Pitt Political Review, Winter 2008</p>
<p><a href="http://www.jeffernsthausen.com/wp-content/uploads/2012/03/PPR_Bub_2008.pdf"><img title="PPR_Cover_2008" alt="" src="http://www.jeffernsthausen.com/wp-content/uploads/2012/03/PPR_Cover_2008.jpg" width="154.5" height="200" /></a></p>
<p><a href="http://www.jeffernsthausen.com/wp-content/uploads/2012/03/PPR_Interview_2006.pdf"> Interview With Tom Martin</a>, Libertarian Candidate for Pennsylvania Senate, Pitt Political Review, Fall 2006</p>
<p><a href="http://www.jeffernsthausen.com/wp-content/uploads/2012/03/PPR_Interview_2006.pdf"><img title="PPR_Cover_2006" alt="" src="http://www.jeffernsthausen.com/wp-content/uploads/2012/03/PPR_Election_2006.jpg" width="154.5" height="200" /></a></p>
<p><a href="http://www.jeffernsthausen.com/wp-content/uploads/2012/03/PPR_Debate_2006.pdf"> Analysis of the Pennsylvania Gubernatorial Debate</a>, Pitt Political Review, Fall 2006</p>
<p><a href="http://www.jeffernsthausen.com/wp-content/uploads/2012/03/PPR_Debate_2006.pdf"><img title="PPR_Election_2006" alt="" src="http://www.jeffernsthausen.com/wp-content/uploads/2012/03/PPR_Cover_2006.jpg" width="154.5" height="200" /></a></p>
<p><a href="http://www.jeffernsthausen.com/wp-content/uploads/2012/03/PPR_Pen_05.pdf"> The Pen and the Sword </a>, Pitt Political Review, Fall 2005</p>
<p><a href="http://www.jeffernsthausen.com/wp-content/uploads/2012/03/PPR_Pen_05.pdf"><img class="alignnone  wp-image-85" title="PPR_Fall_05" alt="" src="http://www.jeffernsthausen.com/wp-content/uploads/2012/03/PPR_Cover_Fall_05_Page_01.jpg" width="154.5" height="200" /></a></p>
<p><a href="http://www.jeffernsthausen.com/wp-content/uploads/2012/03/PPR_Bean_05.pdf"> Who's to Say Whose Bean: Farming and the Patenting of Genes </a>, Pitt Political Review, Spring 2005</p>
<p><a href="http://www.jeffernsthausen.com/wp-content/uploads/2012/03/PPR_Bean_05.pdf"><img title="PPR_Spring_05" alt="" src="http://www.jeffernsthausen.com/wp-content/uploads/2012/03/PPR_Cover_Spring_05_Page_01.jpg" width="154.5" height="200" /></a></p>
</div>

