@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

img.right {
	display: block;
	float:right;
}

img.center {
	display: block;
	margin-right:auto;
	margin-left:auto;
}

.center h1 {
  margin-bottom: 10px;
}

ul {
	list-style-type:none;
}

.toggle {
	display: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  padding-top: 20px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #0088cc ;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
} 

footer a:hover { 
  color: #222;
}

footer small {
/*  position:relative;
  left:30%;*/
  float: left;
  vertical-align: top;
/*  margin-left:auto;
  margin-right:auto;*/
}

footer ul {
  float: right;
  list-style: none;
  display:block;
}

footer ul li {
  float: left;
  margin-left: 5px;
}

#facebook_link a, #linkedin_link a, #twitter_link a{
	height:32px;
	display:block;
	}

#facebook_link, #linkedin_link, #twitter_link{
	height: 32px;
	width: 32px;
	display:block;
}

#twitter_link a:hover{
	background: url('/assets/btn_sprite.png') 32px 32px;
}

#twitter_link {
	background: url('/assets/btn_sprite.png')  32px 0px;
}

#linkedin_link a:hover{
	background: url('/assets/btn_sprite.png') 0px 32px;
}

#linkedin_link {
	background: url('/assets/btn_sprite.png')  0px 0px;
}

#facebook_link a:hover{
	background: url('/assets/btn_sprite.png') 64px 32px;
}

#facebook_link {
	background: url('/assets/btn_sprite.png')  64px 0px;
}

#rails_link{
    float:right;
	background: url('/assets/rails_sprite.png') 25px 0px;
	height: 32px;
	width: 25px;
	display:block;
	margin-left:3px;
}

#rails_link:hover{
	background: url('/assets/rails_sprite.png') 0px 0px;
}

