<footer class="footer">
  <small> <a id="rails_link" href="http://rubyonrails.org/"></a>Powered by</small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li id="twitter_link"><a href="http://twitter.com/JeffErnsthausen"></a></li>
      <li id="linkedin_link"><a href="http://www.linkedin.com/pub/jeffery-ernsthausen/64/516/733/"></a></li>
      <li id="facebook_link"><a href="http://www.facebook.com/jernsthausen"></a></li>

    </ul>
  </nav>
</footer>