<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Based on Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li id="facebook_link"><a href="http://www.facebook.com/jernsthausen"></a></li>
      <li id="linkedin_link"><a href="http://www.facebook.com/jernsthausen"></a></li>
    </ul>
  </nav>
</footer>