    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Jeff Ernsthausen", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Experience",    experience_path %></li>
              <li><%= link_to "Past Publications", past_publications_path %></li>
              <li><%= link_to "Contact",    contact_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
